<div id="<%= dom_id choiceproposal %>">
  <p>
    <strong>Content:</strong>
    <%= choiceproposal.content %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= choiceproposal.status %>
  </p>

</div>
