<h1>Editing choiceproposal</h1>

<%= render "form", choiceproposal: @choiceproposal %>

<br>

<div>
  <%= link_to "Show this choiceproposal", @choiceproposal %> |
  <%= link_to "Back to choiceproposals", choiceproposals_path %>
</div>
