<p style="color: green"><%= notice %></p>

<h1>Choiceproposals</h1>

<div id="choiceproposals">
  <% @choiceproposals.each do |choiceproposal| %>
    <%= render choiceproposal %>
    <p>
      <%= link_to "Show this choiceproposal", choiceproposal %>
    </p>
  <% end %>
</div>

<%= link_to "New choiceproposal", new_choiceproposal_path %>
