<div id="<%= dom_id pathx %>" class="inline">
  <div  class="col-1"><%= pathx.id %></div>
  <div  class="col-6"><%= pathx.path2(pathx.path) %></div>
  <div  class="col-4"><%= pathx.last_item %></div>
</div>
