<div id="<%= dom_id hierx %>">
  <p>
    <strong>Parent:</strong>
    <%= hierx.parent_id %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= hierx.child_id %>
  </p>

  <p>
    <strong>Generation:</strong>
    <%= hierx.generation %>
  </p>

</div>
