<div id="<%= dom_id category %>">
  <p>
    <strong>Parent:</strong>
    <%= category.parent_id %>
  </p>

  <p>
    <strong>Child:</strong>
    <%= category.child_id %>
  </p>

  <p>
    <strong>Generaion:</strong>
    <%= category.generation %>
  </p>

</div>
