<div class="sign_up_page">
  <div class="sign_up_form">
    <h2>TOPページ</h2>
      <p>ユーザー登録済みの方は<%= link_to "サインinへ", sign_in_path %></p>
      <p>ユーザーmi登録の方は<%= link_to "サインupへ", sign_up_path %></p>
  </div>
</div>